.contact-container {
  width: 90%;
  background: white;
  border-radius: 5px;
  margin: 30px auto;
  h2 {
    text-align: center;
    font-size: clamp(20px, 6vw, 40px);
    padding: 20px 0 30px 0;
  }
  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px;
    input {
      height: 40px;
    }
    input,
    textarea {
      width: 70%;
      padding: 10px;
      border: solid 2px #eee;
    }
  }
  .btn-container {
    display: flex;
    justify-content: center;
    button {
      margin: 30px 0;
      justify-self: center;
      font-size: 1.5rem;
    }
  }
}

.error-msg {
  padding: 10px;
  color: red;
}

@media screen and (min-width: 768px) {
  .contact-container {
    width: 70%;
    margin: 100px auto;
  }
}
