<main class="main-container" id="resume">
  <div class="img-container">
    <img src="../../assets/img/cv-image.webp" alt="photo du cv" />
  </div>
  <div class="cv-header">
    <h2>Alexandre JOIGNANT</h2>
    <h3>Développeur Web</h3>
    <p>JavaScript, React, Angular</p>
    <!-- <button class="btn">Télécharger mon CV en PDF</button> -->
  </div>
  <section class="content">
    <div class="profil">
      <h3>PROFIL PROFESSIONNEL</h3>
      <p>
        Après 5 ans en tant qu'agent d'entretien, j'ai décidé de me reconvertir
        dans un domaine qui me passionne depuis toujours, le développement web.
        <br />
        Pour cela j'ai suivi, avec succès, une formation intensive de 6 mois
        avec OpenClassrooms qui m'a permis d'apprendre HTML, CSS, JavaScript et
        React à travers des projets professionalisants.
        <br />
        Ces projets m’ont permis de confirmer mon goût pour la création de sites
        et d’applications web notamment le développement frontend.
      </p>
      <p>
        Motivé, sérieux et dynamique, j’ai à cœur d’intégrer une équipe jeune et
        dynamique pour travailler sur des projets innovants.
      </p>
    </div>
    <div class="projects">
      <h3>PROJETS PROFESSIONNELS</h3>
      <div class="project">
        <h4>Booki - Projet OpenClassrooms</h4>
        <p>
          Découper, assembler et intégrer tous les éléments d'une maquette
          graphique en HTML5 et CSS.
        </p>
      </div>
      <div class="project">
        <h4>OhMyFood - Projet OpenClassrooms</h4>
        <p>Animer les pages web avec CSS et utilisation de SASS.</p>
      </div>
      <div class="project">
        <h4>Kanap - Projet OpenClassrooms</h4>
        <p>
          Faire réagir une page web en fonctions des actions de l'utilisateur
          avec JavaScript.
        </p>
      </div>
      <div class="project">
        <h4>Piquante - Projet OpenClassrooms</h4>
        <p>
          Création d'un API REST sécurisée pour un site de notation de sauces
          piquantes.
        </p>
      </div>
      <div class="project">
        <h4>Kasa - Projet OpenClassrooms</h4>
        <p>
          Création d'une application web complète de location de logements avec
          React.js.
        </p>
      </div>
    </div>
    <h3>EXPERIENCES PROFESSIONNELLES</h3>
    <div class="work-experiences">
      <div class="experience">
        <div class="experience-date">
          <p>
            2022 <br />
            - <br />
            aujourd'hui
          </p>
        </div>
        <div class="experience-text">
          <h4>Agent d'entretien</h4>
          <p class="society">ProServis - Laon</p>
          <p class="resume">
            Analyse des tâches à prioriser et entretien des locaux.
          </p>
        </div>
      </div>
      <div class="experience">
        <div class="experience-date">
          <p>
            2018 <br />
            - <br />
            aujourd'hui
          </p>
        </div>
        <div class="experience-text">
          <h4>Agent d'entretien</h4>
          <p class="society">Agénor - Château-Thierry</p>
          <p class="resume">
            Analyse des tâches à prioriser et entretien des locaux.
          </p>
        </div>
      </div>
      <div class="experience">
        <div class="experience-date">
          <p>
            2019 <br />
            - <br />
            2022
          </p>
        </div>
        <div class="experience-text">
          <h4>Agent d'entretien</h4>
          <p class="society">Asept - Saint-Quentin</p>
          <p class="resume">
            Analyse des tâches à prioriser et entretien des locaux.
          </p>
        </div>
      </div>
    </div>
    <h3>FORMATIONS</h3>
    <div class="education-list">
      <div class="education">
        <h4>2023 - Titre RNCP niveau 5 - Développeur Web</h4>
        <p>OpenClassrooms</p>
      </div>
      <div class="education">
        <h4>
          2016 - Titre RNCP niveau 4 - Technicien d'Assistance en Informatique
        </h4>
        <p>GRETA Sud de l'Aisne</p>
      </div>
      <div class="education">
        <h4>2010 - Baccalauréat STI génie électronique</h4>
        <p>Lycée Jean Monnet - Crépy-en-valois</p>
      </div>
    </div>
  </section>
  <section class="sidebar">
    <div class="contact">
      <h3>CONTACT</h3>
      <div>
        <h4><fa-icon [icon]="faPhone"></fa-icon> Téléphone</h4>
        <p>07 68 20 71 38</p>
      </div>
      <div>
        <h4><fa-icon [icon]="faEnvelope"></fa-icon> Email</h4>
        <p>alexandre.joignant@gmail.com</p>
      </div>
      <div>
        <h4><fa-icon [icon]="faHome"></fa-icon> Adresse</h4>
        <p>02460 - La Ferté-Milon</p>
      </div>
    </div>
    <div class="hardskills">
      <h3>HARD SKILLS</h3>
      <h4><fa-icon [icon]="faAngular"></fa-icon>Angular</h4>
      <h4><fa-icon [icon]="faReact"></fa-icon>React.js</h4>
      <h4><fa-icon [icon]="faNode"></fa-icon>Node.js</h4>
      <h4><fa-icon [icon]="faJs"></fa-icon>JavaScript</h4>
      <h4><fa-icon [icon]="faJs"></fa-icon>TypeScript</h4>
      <h4><fa-icon [icon]="faHtml5"></fa-icon>HTML</h4>
      <h4><fa-icon [icon]="faCss3"></fa-icon>CSS</h4>
    </div>
    <div class="softskills">
      <h3>SOFT SKILLS</h3>
      <ul>
        <li>Curiosité</li>
        <li>Patience</li>
        <li>Autonomie</li>
        <li>Travail en équipe</li>
      </ul>
    </div>
    <div class="languages">
      <h3>Langues</h3>
      <div class="language">
        <h4>FRANCAIS</h4>
        <p>Langue maternelle</p>
      </div>
      <div class="language">
        <h4>ANGLAIS</h4>
        <p>Oral et écrit</p>
      </div>
      <div class="language">
        <h4>Espagnol</h4>
        <p>Notions</p>
      </div>
    </div>
    <div class="socials">
      <h3>RESEAUX SOCIAUX</h3>
      <div class="socials-link">
        <a
          href="https://www.linkedin.com/in/alexandre-joignant"
          target="_blank"
        >
          <fa-icon [icon]="faLinkedin"></fa-icon>
          <p>Alexandre JOIGNANT</p>
        </a>
      </div>
      <div class="socials-link">
        <a href="https://github.com/alexj704" target="_blank">
          <fa-icon [icon]="faGithub"></fa-icon>
          <p>alexj704</p>
        </a>
      </div>
      <div class="socials-link">
        <a href="https://alexandrejoignant.fr" target="_blank">
          <fa-icon [icon]="faGlobe"></fa-icon>
          <p>alexandrejoignant.fr</p>
        </a>
      </div>
    </div>
  </section>
</main>
