/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: #eee;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  padding: 10px 15px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background: rgba(110, 123, 251, 1);
  color: white;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    color: rgba(156, 252, 248, 1);
    transform: scale(1.1);
  }
  &:disabled {
    background: grey;
    color: white;
    cursor: not-allowed;
    transform: none;
  }
}
