<div class="home">
  <img src="../../assets/img/home-background.jpg" alt="" />
  <div class="home__text">
    <h2>Alexandre JOIGNANT</h2>
    <h3>Développeur Web</h3>
  </div>
  <div class="social">
    <a href="https://www.linkedin.com/in/alexandre-joignant/" target="_blank">
      <img src="../../assets/img/linkedin.svg" alt="linkedin logo" />
    </a>
    <a href="https://github.com/alexj704" target="_blank">
      <img src="../../assets/img/github.svg" alt="github logo" />
    </a>
  </div>
</div>
